{{selfieARenseigner | json}}

<!-- identifiant angular du formulaire de Type Template driven Form  : <form #IdentifiantFormulaire="ngForm">  -->
<form #maForm="ngForm">
    <div class="row">
        <div class="col">Titre</div>
        <!--[()] banana in the box  : Template driven Form  (TDF)-->
        <div class="col">
            <input type="text" #titre="ngModel" name="titre" [(ngModel)]="selfieARenseigner.titre" required>

            <!-- si le input est valid, le span est caché, sinon il est visible -->
            <!-- <span [style.visibility]="titre.valid ? 'hidden' : 'visible'"> Titre Obligatoire !</span> -->
            <!-- ou -->
            <span [hidden]="titre.valid "> Titre Obligatoire !</span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <!-- Bouton submit qui est désactivé [disabled] si le formulaire n'est pas valide   -->
            <button type="submit" [disabled]=" ! maForm.form.valid" (click)="clickSurAjouterSaisie()"
                class="btn btn-primary">Nouveau
                selfie</button>
        </div>


        <div class="col">
            <button type="button" (click)="clickSurAnnulerSaisie()" class="btn btn-secondary">Annuler</button>
        </div>

    </div>
</form>