<!-- recupere depuis notre composant enfant "app-menu-general" l'element qui est cliqué à l'interieur de ce composant
   grace à l'output de type eventEmitter qui renvoie un string-->
<app-menu-general (lancerRecherche)="rechercherSelfies($event)"></app-menu-general>

<!-- <h1>{{ title }}</h1>
<h2>{{ subTitle }}</h2> -->

<!-- <img *ngIf="logoAffiche; else contraireIf"
  src="https://www.funnylla.com/articles-images/207/one-fun-day-in-the-life-of-a-wookie_big.jpg"
  alt="wookies en voitures" srcset="" /> -->



<main class="container">

  <div class="row">

    <div class="col-sm-9">


      <app-selfie-list [filtre]="valeurARechercher"></app-selfie-list>

    </div>

  </div>

</main>