<header>
    <!-- NavBar test-->
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SaW</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/selfies">Tes selfies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/fights">Les duels en cours</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/stats">Tes stats</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Ta recherche ...." aria-label="Search"
                        #zoneRecherche>
                    <button class="btn btn btn-danger" (click)="rechercher()">Rechercher</button>
                </div>
            </div>
        </div>
    </nav>
</header>